<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: aqua;
      }
    </style>
  </head>
  <body>
    <div class="container-about-us">
      <h1>i'm a beginner developer</h1>
      <p>
        A developer is a skilled professional who writes and maintains the code
        that forms the backbone of software applications. They work with various
        programming languages and frameworks to create, test, and optimize
        software solutions. Developers collaborate closely with designers,
        product managers, and other stakeholders to ensure the final product
        meets user needs and business objectives. They must stay current with
        industry trends and continuously enhance their skills to adapt to
        evolving technologies. With problem-solving acumen and attention to
        detail, developers play a critical role in the success of technology
        projects.
      </p>
    </div>
  </body>
</html>
