<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yassine</title>
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <div class="top-header">
      <div id="top"><a href="/templates/about-us.html">about us</a></div>
      <div id="top"><a href="">location</a></div>
      <div id="top"><a href="">help</a></div>
    </div>
    <div class="left-body">
      <div><p>Shoes</p></div>
      <div>
        <p>T-shirt</p>
      </div>
      <div><p>Jeans</p></div>
      <div><p>Cap</p></div>
    </div>
    <div class="container">
      <div class="the-first">
        <img
          src="https://assets.adidas.com/images/w_600,f_auto,q_auto/796b937a851f4f838fd58d40ee1f8205_9366/Sambae_Shoes_Blue_IG1953_01_standard.jpg"
          alt=""
        />
        <img
          src="https://assets.adidas.com/images/w_600,f_auto,q_auto/0c8354766f554ad8898b87efd0606caf_9366/Sambae_Shoes_White_IE9107_01_standard.jpg"
          alt=""
        />
        <img
          src="https://assets.adidas.com/images/w_600,f_auto,q_auto/d486cccbe0094b928034aadb4756b488_9366/Sambae_Shoes_White_IE9106_01_standard.jpg"
          alt=""
        />
        <img
          src="https://assets.adidas.com/images/w_600,f_auto,q_auto/2eb6e1b91bfe486fad760fc9924bf054_9366/Samba_OG_Shoes_White_IE6521_01_standard.jpg"
          alt=""
        />
      </div>
      <div class="the-second">
        <img
          src="https://assets.adidas.com/images/w_450,f_auto,q_auto/a059f1647d4646748af1d8c8c3c1a61f_9366/IX9648_23_hover_model.jpg"
          alt=""
        />
        <img
          src="https://assets.adidas.com/images/w_450,f_auto,q_auto/67c1aa791e78453aaaad0e6824d6aa29_9366/IZ2474_23_hover_model.jpg"
          alt=""
        />
        <img
          src="https://assets.adidas.com/images/w_450,f_auto,q_auto/97a52591726e4c33bcbd8d112241841f_9366/IW0138_23_hover_model.jpg"
          alt=""
        />
        <img
          src="https://assets.adidas.com/images/w_450,f_auto,q_auto/737d598270e74263a4eff6ec7b304435_9366/IS6524_23_hover_model.jpg"
          alt=""
        />
      </div>
      <div class="the-third">
        <img
          src="https://m.media-amazon.com/images/I/61Zzqb4u52L._AC_UL480_FMwebp_QL65_.jpg"
          alt=""
        />
        <img
          src="https://m.media-amazon.com/images/I/61KTO+mpWEL._AC_UL480_FMwebp_QL65_.jpg"
          alt=""
        />
        <img
          style="margin-left: 40px"
          src="https://m.media-amazon.com/images/I/516+Dd+GUbL._AC_UL480_FMwebp_QL65_.jpg"
          alt=""
        />
        <img
          style="margin-left: 60px"
          src="https://m.media-amazon.com/images/I/71nsib6+RKL._AC_UL480_FMwebp_QL65_.jpg"
          alt=""
        />
      </div>
      <div class="the-fourth">
        <img
          src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/390289b7b3a04c58805595d9dcf4a88e_9366/mens-modern-2.0-structured-cap.jpg"
          alt=""
        />
        <img
          src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/07143c079ac6485a82644fa97bda5b7c_9366/texas-tech-slouch-adjustable-cap.jpg"
          alt=""
        />
        <img
          src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/f76350d7b617459f98d9143e5bdb0dc7_9366/tour-stamp-hat.jpg"
          alt=""
        />
        <img
          src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/d9a4fab2ea1c4810b704426361d98c6e_9366/soccer-relaxed-strapback-hat.jpg"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
